<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConversionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59617/ConversionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConversionService"
                contract="ConversionServiceReference.IConversionService" name="BasicHttpBinding_IConversionService" />
        </client>
    </system.serviceModel>
</configuration>